.benefits
  font-size 0

  &__item
    display inline-block
    margin-top 40px
    width 33%
    vertical-align top
    text-align center
    font-size 16px

    &_1 .benefits__icon
      width 60px
      height 58px
      background-position -118px 0

    &_2 .benefits__icon
      width 61px
      height 58px
      background-position -178px 0

    &_3 .benefits__icon
      width 44px
      height 58px
      background-position -239px 0

    &_4 .benefits__icon
      margin-top 18px
      width 45px
      background-position -73px 0
      height 56px

    &_5 .benefits__icon
      width 73px
      height 75px
      background-position 0 0

    &_6 .benefits__icon
      margin-top 18px
      width 46px
      height 57px
      background-position 0 -75px

  &__icon
    display block
    margin 0 auto
    background url(../img/benefits/icons.png) no-repeat

  &__title
    margin 15px 0
    color #000000
    font-weight 700
    font-size 23px

  &__text
    color #8e8e8e
    font-size 17px