.btn
  display block
  border 0
  border-bottom 2px solid #cbbe1f
  background #ffff00
  color #1a1a1a
  text-align center
  text-decoration none
  text-transform uppercase

  &:hover
    background #cbbe1f