.design
  padding 45px 0
  background #333

  &__value
    float right
    padding 5px 13px
    border-radius 20px
    background #1a1a1a
    color #fff
    font-size 27px

    b
      color #ffff00
      font-size 60px

  &__value-rub
    display inline-block
    width 78px
    height 41px
    background url(../img/design/archrock_white_rub.png) 0 0 no-repeat

  &__header
    color #ffff00
    font-size 44px
    line-height .9

  &__subheader
    margin-bottom 50px
    color #fff
    font-size 17px

  &__list
    margin 0 0 40px
    white-space nowrap
    font-size 0

  &__icon
    display block
    margin-bottom 10px
    background url(../img/design/icons.png) no-repeat

  &__text
    color #fff
    font-size 21px
    line-height 1

  &__item
    position relative
    display inline-block
    padding-left 50px
    width 25%
    vertical-align top
    white-space normal
    font-size 16px

    &:before
      position absolute
      top 0
      left 25px
      display block
      width 1px
      height 94px
      border-right 1px solid #4d4d4d
      background #000000
      content ""

    &:first-child
      padding-left 0

      &:before
        display none

    &_1
      width 20%

      .design__icon
        width 17px
        height 20px
        background-position -21px 0

    &_2
      width 22%

      .design__icon
        width 21px
        height 16px
        background-position 0 0

    &_3
      width 28%

      .design__icon
        width 16px
        height 20px
        background-position -38px 0

    &_4
      width 30%

      .design__icon
        width 16px
        height 17px
        background-position -54px 0

  &__request-header
    margin-bottom 20px
    color #fff
    font-size 21px

  &__slider
    position relative
    float left
    width 554px
    height 309px

    .slidesjs-navigation
      position absolute
      top 50%
      margin-top -20px
      z-index 999
      display block
      overflow hidden
      width 25px
      height 40px
      background url(../img/slider/arrows.png) no-repeat
      text-indent 100%
      white-space nowrap

      &.slidesjs-previous
        left 10px
        background-position 0 0

      &.slidesjs-next
        right 10px
        background-position -25px 0

  &__form
    float left
    padding 20px 0 0
    width 440px
    height 309px
    background #1a1a1a

  &__form-wrapper
    margin 0 auto
    width 200px

  &__form-header
    display block
    margin-bottom 20px
    color #ffff00
    text-align center
    text-transform uppercase
    font-size 24px

  &__form-label
    display block
    margin 0 auto 10px
    width 200px

  &__submit
    margin 25px auto 5px
    width 200px
    height 42px