.edit
  padding 30px 0 20px
  background #e7e7e7

  &__main-header
    margin-bottom 15px
    color #1a1a1a
    text-align center
    font-size 20px

  &__header-big
    font-size 37px

  &__header
    margin-bottom 15px
    color #1a1a1a
    font-weight 700
    font-size 28px

  &__title
    color #662d86
    font-weight 700
    font-size 17px

  &__text
    margin-top 10px
    color #1a1a1a
    font-size 15px

  &__item
    float left
    padding-right 15px
    width 33%

  &__part
    margin-top 20px
    
    &_half
      float left
      padding-right 35px
      width 50%

  &__btn
    float right
    margin 15px 0 0
    padding 13px 0 0
    width 272px
    height 49px