.footer
  padding 20px 0 35px

  &__logo
    float left
    margin 15px 40px 0 0
    padding 84px 0 0
    width 260px
    background url(../img/header/logo.png) center top no-repeat

  &__towns
    color #808080
    font-size 12px
    text-align center

  &__town
    margin-right 3px

    &:before
      margin-right 5px
      content "•"

    &:first-child:before
      display none

  &__call
    float right

  &__call-number
    padding 7px 0 10px
    color #1a1a1a
    text-align right
    font-size 22px

  &__call-btn
    display block
    padding 10px 0 0
    width 182px
    height 38px
    text-transform lowercase
    font-size 13px

  &__email
    text-align right

  &__email-link
    color #8e8e8e
    text-decoration none
    font-size 18px

  &__recall
    margin-top 5px
    color #808080
    text-align right
    font-size 13px

  .menu
    float left
    margin-top 35px

  .menu__item
    color #8e8e8e

    &:before
      color #8e8e8e

    &:hover, &.active
      color #1a1a1a