.form

  &__label
    display block
    margin-bottom 15px
    width 100%

.input
  display block
  padding 0 15px
  width 100%
  height 33px
  border 1px solid #c1c1c1
  color #8e8e8e
  font-size 14px

.textarea
  display block
  padding 10px 15px
  width 100%
  border 1px solid #c1c1c1
  resize vertical