.header 
  margin 0 auto
  padding-left 55px
  width 970px
  
  &__logo 
    float left
    margin-right 40px
    width 221px
    height 64px
    background url(../img/header/logo.png) 0 0 no-repeat

  &__towns 
    margin 0 0 6px

  &__town 
    position relative
    color #333333
    font-size 11px

    &:before 
      margin-right 2px
      content "•"

    &:first-child:before 
      display none

  &__call
    float right
    padding 7px 0 0
    width 180px

  &__call-number
    margin-bottom 15px
    color #1a1a1a
    font-size 22px

  &__call-btn
    padding 10px 0
    width 180px
    height 38px
    text-transform lowercase
    font-size 13px