.interior
  padding 40px 0 50px

  &__photo-left,
  &__form,
  &__photo-right
    display inline-block
    vertical-align top

  &__photo-left
    position relative
    top -30px
    margin-left 5px

  &__form
    margin 0 20px

  &__photo-right
    position relative
    vertical-align bottom
    top -5px

  &__header
    color #000
    text-align center
    text-transform uppercase
    font-size 44px
    line-height 1

  &__subheader
    margin-bottom 40px
    text-align center
    font-size 32px
    line-height 1

  &__free
    margin-bottom 35px
    color #333333
    text-align center
    font-size 16px

  &__free-text
    position relative

    &:before,
    &:after
      display inline-block
      width 24px
      height 1px
      background #662d86
      content ""
      vertical-align middle

    &:before
      margin 0 7px

    &:after
      margin 0 8px

  &__photo-left
    display inline-block

  &__form
    display inline-block
    width 275px
    font-size 14px

  &__label
    display block
    margin-bottom 10px
    width 175px

  &__file
    position relative
    display block
    padding 10px 22px 0 0
    width 100%
    height 50px
    border 2px dashed #c4c4c4
    border-radius 10px
    background #f4f4f4
    color #662d86
    text-align right
    text-transform uppercase
    font-size 16px
    cursor pointer

    &:hover
      background #ffff00

  &__file-input
    visibility hidden
    height 0

  &__cross
    position relative
    top 3px
    display inline-block
    margin-right 15px
    width 18px
    height 18px
    background url(../img/interior/cross.png) 0 0 no-repeat

  &__submit
    display block
    margin-top 15px
    width 100%
    height 50px
    font-size 16px