.menu 
  margin 20px 0 0

  &__item 
    color #fff
    font-size 17px
    position relative
    padding-left 17px
    margin-left 7px
    float left
    text-decoration none

    &:before 
      content "•"
      font-size 21px
      display inline-block
      position absolute
      top -2px
      left 0
      color #fff

    &:first-child
      margin-left 0
      padding-left 0

      &:before 
        display none

    &.active, &:hover
      color #1a1a1a