/* Обвязка */
html, body {
  height: 100%;
  font: normal 16px "PT Sans", Verdana, Tahoma;
}

.page 
  position: relative;
  min-height: 100%;
  background: #fff url(../img/page/top-bg.jpg) center top no-repeat;
  max-width: 1600px;
  margin: 0 auto;

  &__wrapper {
    width: 994px;
    margin: 0 auto;
  }