.popup

  &__item
    display none
    padding-bottom 45px
    width 388px
    border 14px solid #ffff00
    background #fff

  &__content
    position relative

  &__close
    display block
    float right
    margin 15px 15px 0 0
    width 28px
    height 28px
    background url(../img/popup/close.png) 0 0 no-repeat
    cursor pointer

    &:hover
      background-position 0 -28px

  &__title
    margin 0 auto
    margin-bottom 25px
    padding-top 60px
    width 210px
    color #000000
    text-transform uppercase
    font-weight 700
    font-size 23px
    line-height 1.1

  &__form
    margin 0 auto
    width 205px

  &__label
    display block
    margin-bottom 10px

  &__submit
    display block
    margin 35px 0 20px
    width 100%
    height 49px

  &__info
    margin 0 auto
    width 210px
    color #808080
    text-align center
    font-size 13px

    &_left
      text-align left

.fancybox-close
  top 30px
  right 30px
  display block
  width 28px
  height 28px
  background-image url(../img/popup/close.png)
  cursor pointer

  &:hover
    background-position 0 -28px