.products
  margin 0 auto
  padding 0 0 35px
  width 960px

  &__item
    margin-top 35px
    height 627px

    &:first-child
      margin-top 0

  &__photo
    float left
    margin 0 10px 0 0
    width 470px

  &__photo-link
    position relative
    display block
    text-decoration none

    img
      display block

    &:after
      position absolute
      top 50%
      left 50%
      display block
      width 38px
      height 38px
      background url(../img/products/scope.png) 0 0 no-repeat
      content ""
      margin -19px 0 0 -19px

  &__content
    position relative
    overflow hidden
    height 100%

  &__footer
    position absolute
    bottom 0

  &__title, &__thickness
    color #4d4d4d
    font-size 19px

  &__thickness
    padding-bottom 50px

  &__header
    border-bottom 4px solid #e7e7e7
    color #000000
    text-transform uppercase
    font-weight 700
    font-size 60px
    line-height 1.1

  &__details
    padding 50px 0 60px

  &__details-left,
  &__details-right
    float left
    width 50%

  &__scheme
    margin-left 20px

  &__view
    padding-bottom 20px

  &__download
    float right
    text-align center

    &:before
      display inline-block
      width 27px
      height 27px
      background url(../img/products/archrock_download.png) 0 0 no-repeat
      content ""

  &__download-link
    display block
    color #662d86
    font-size 14px

  &__cost
    position relative
    padding 10px 15px 10px 10px
    width 480px
    border-radius 5px
    background #e7e7e7
    white-space nowrap
    font-size 0

    &_sale

      &:before
        position absolute
        left 65px
        display block
        width 125px
        height 73px
        background url(../img/top-panel/sale.png) 0 0 no-repeat
        top -50px
        content ""

  &__cost-left,
  &__cost-right
    display inline-block
    white-space normal
    font-size 16px

  &__cost-left
    width 58%
    vertical-align top

  &__cost-right
    width 42%
    vertical-align bottom

  &__name
    color #000000
    text-transform uppercase
    font-weight 700
    font-size 23px

  &__old-value
    position relative
    color #808080
    font-weight 700
    font-size 42px
    line-height 1

    &:before
      position absolute
      top 8px
      left -5px
      width 122px
      height 25px
      background url(../img/products/old-value.png) 0 0 no-repeat
      content ""

    &:after
      display inline-block
      width 53px
      height 27px
      background url(../img/products/grey-rub.png) 0 0 no-repeat
      content ""

  &__new-value
    color #000000
    font-weight 700
    font-size 60px
    line-height 1

    &:after
      display inline-block
      width 78px
      height 41px
      background url(../img/products/archrock_black_rub.png) 0 0 no-repeat
      content ""

  &__btn
    display block
    margin 0 auto
    padding 14px 0 0
    width 192px
    height 49px

  &__or
    padding 20px 0
    color #000000
    text-align center
    font-size 14px

    &:before,
    &:after
      display inline-block
      width 20px
      height 1px
      background #666666
      content ""
      vertical-align middle

    &:before
      margin-right 8px

    &:after
      margin-left 8px

  &__consult
    text-align center
    text-transform uppercase

  &__consult-link
    color #662d86
    font-size 14px

  &__countdown
    color #808080
    font-size 14px