// Small devices (tablets, 768px and up)
@media (min-width: 768px) {

  [class*="column_sm-"] {
    float: left;    
  }

  .column {
    setColumn(sm, 12);
    createOffset(sm, 12);    
  }


}

// Medium devices (desktops, 992px and up)
@media (min-width: 992px) {

  [class*="column_md-"] {
    float: left;    
  }

  .column {
    setColumn(md, 12);
    createOffset(md, 12);
  }
}
  
// Large devices (large desktops, 1200px and up)
@media (min-width: 1170px) {

  [class*="column_lg-"] {
    float: left;    
  }

  .column {
    setColumn(lg, 12);
    createOffset(lg, 12);
  }
}