.services
  margin 45px auto 40px
  padding 16px 0
  width 992px
  background #e7e7e7
  white-space nowrap
  font-size 0

  &__item
    display inline-block
    margin-left 20px
    padding 15px 0 0
    width 310px
    height 74px
    border 9px solid #ffff00
    background #fff
    color #1a1a1a
    text-align center
    text-transform uppercase
    white-space normal
    font-weight 700
    font-size 22px

    &:first-child
      margin-left 17px

      & + *
        width 300px