.special
  padding 90px 0
  border-bottom 10px solid #e7e7e7

  &__benefits
    float right
    padding 10px 0 0

  &__benefits-text
    color #000
    font-size 26px

  &__btn
    display block
    margin 10px 0 0
    padding 12px 0 0
    width 272px
    height 49px

  &__title
    color #1a1a1a
    font-size 45px
    line-height 1.1