.pre-timer
  margin 15px auto 5px
  width 280px
  color #fff
  font-size 14px

.timer
  margin 0 auto
  width 285px
  text-align center

  &__item
    float left
    margin-left 15px

    &:first-child
      margin-left 0

  &__title
    margin-bottom 3px
    color #4d4d4d
    text-transform lowercase
    font-size 12px

  &__value
    width 60px
    height 55px
    background url(../img/timer/bg.png) 2px 0 no-repeat
    color #363636
    font-size 47px
    line-height 1.2