.top-form
  margin 10px 0 0

  &__fields
    margin 0 auto
    padding 14px 100px
    width 564px
    background #1a1a1a

  &__input
    width 177px
    height 33px
    border 1px solid #c1c1c1
    text-align center
    font-size 14px

  &__submit
    display block
    margin 19px auto 0
    width 272px
    height 50px
    font-size 16px