.top-panel
  margin 50px auto 20px
  width 580px

  &__tech
    margin-bottom 25px
    color #fff
    font-size 15px

  &__3d
    margin-right 10px
    color #ffff00
    text-transform uppercase
    font-size 45px

  &__design
    color #fff
    font-weight bold
    font-size 45px
    line-height 1.1

  &__cost
    margin-top 30px
    margin-bottom 100px
    color #fff
    text-align right
    font-size 15px

  &__cost-text
    margin-right 108px

  &__cost-value
    color #ffff00
    font-weight 700
    font-size 45px
    line-height 1

    &:after
      display inline-block
      margin-left 5px
      width 57px
      height 30px
      background url(../img/top-panel/archrock_yellow_rub_metr.png) 0 -19px no-repeat
      content ""
      vertical-align middle

  &__sale
    position relative
    color #fff
    font-weight 700
    font-size 38px

    &:before
      position absolute
      display block
      width 125px
      height 73px
      background url(../img/top-panel/sale.png) 0 0 no-repeat
      content ""
      top -50px
      left -15px

  &__sale-meters
    display inline-block
    padding 10px 8px
    width 75px
    height 75px
    border-radius 50%
    background #ffff00
    color #000
    font-size 30px

  &__sale-meters-square
    position relative
    top -7px
    font-weight normal

  &__sale-meters-value
    font-size 38px

  &__value
    padding-right 30px
    color #fff
    text-align right
    font-size 21px

  &__value-meters
    margin-left 125px
    color #666