/* Шрифты */
@import url('http://fonts.googleapis.com/css?family=PT+Sans:400,700&subset=latin,cyrillic');
/* Normalize */
/* normalize.css v3.0.0 | MIT License | git.io/normalize */
html
{
    font-family: sans-serif;

        -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
}
body
{
    margin: 0;
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
nav,
section,
summary
{
    display: block;
}
audio,
canvas,
progress,
video
{
    display: inline-block;

    vertical-align: baseline;
}
audio:not([controls])
{
    display: none;

    height: 0;
}
[hidden],
template
{
    display: none;
}
a
{
    background: transparent;
}
a:active,
a:hover
{
    outline: 0;
}
abbr[title]
{
    border-bottom: 1px dotted;
}
b,
strong
{
    font-weight: bold;
}
dfn
{
    font-style: italic;
}
h1
{
    font-size: 2em;

    margin: .67em 0;
}
mark
{
    color: #000;
    background: #ff0;
}
small
{
    font-size: 80%;
}
sub,
sup
{
    font-size: 75%;
    line-height: 0;

    position: relative;

    vertical-align: baseline;
}
sup
{
    top: -.5em;
}
sub
{
    bottom: -.25em;
}
img
{
    border: 0;
}
svg:not(:root)
{
    overflow: hidden;
}
figure
{
    margin: 1em 40px;
}
hr
{
    -moz-box-sizing: content-box;
         box-sizing: content-box;
    height: 0;
}
pre
{
    overflow: auto;
}
code,
kbd,
pre,
samp
{
    font-family: monospace, monospace;
    font-size: 1em;
}
button,
input,
optgroup,
select,
textarea
{
    font: inherit;

    margin: 0;

    color: inherit;
}
button
{
    overflow: visible;
}
button,
select
{
    text-transform: none;
}
button,
html input[type='button'],
input[type='reset'],
input[type='submit']
{
    cursor: pointer;

    -webkit-appearance: button;
}
button[disabled],
html input[disabled]
{
    cursor: default;
}
button::-moz-focus-inner,
input::-moz-focus-inner
{
    padding: 0;

    border: 0;
}
input
{
    line-height: normal;
}
input[type='checkbox'],
input[type='radio']
{
    box-sizing: border-box;
    padding: 0;
}
input[type='number']::-webkit-inner-spin-button,
input[type='number']::-webkit-outer-spin-button
{
    height: auto;
}
input[type='search']
{
    -webkit-box-sizing: content-box;
       -moz-box-sizing: content-box;
            box-sizing: content-box;

    -webkit-appearance: textfield;
}
input[type='search']::-webkit-search-cancel-button,
input[type='search']::-webkit-search-decoration
{
    -webkit-appearance: none;
}
fieldset
{
    margin: 0 2px;
    padding: .35em .625em .75em;

    border: 1px solid #c0c0c0;
}
legend
{
    padding: 0;

    border: 0;
}
textarea
{
    overflow: auto;
}
optgroup
{
    font-weight: bold;
}
table
{
    border-spacing: 0;
    border-collapse: collapse;
}
td,
th
{
    padding: 0;
}
/* Глобальные стили */
*
{
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
}
.g-clf:after,
.g-clf:before
{
    display: table;
    clear: both;

    content: '';
}
img
{
    max-width: 100%;
}
/* Обвязка */
html,
body
{
    font: normal 16px 'PT Sans', Verdana, Tahoma;

    height: 100%;
}
.page
{
    position: relative;

    max-width: 1600px;
    min-height: 100%;
    margin: 0 auto;

    background: #fff url('../img/page/top-bg.jpg') center top no-repeat;
}
.page__wrapper
{
    width: 994px;
    margin: 0 auto;
}
/* Кнопки */
.btn
{
    display: block;

    text-align: center;
    text-decoration: none;
    text-transform: uppercase;

    color: #1a1a1a;
    border: 0;
    border-bottom: 2px solid #cbbe1f;
    background: #ff0;
}
.btn:hover
{
    background: #cbbe1f;
}
/* Шапка */
.header
{
    width: 970px;
    margin: 0 auto;
    padding-left: 55px;
}
.header__logo
{
    float: left;

    width: 221px;
    height: 64px;
    margin-right: 40px;

    background: url('../img/header/logo.png') 0 0 no-repeat;
}
.header__towns
{
    margin: 0 0 6px;
}
.header__town
{
    font-size: 11px;

    position: relative;

    color: #333;
}
.header__town:before
{
    margin-right: 2px;

    content: '•';
}
.header__town:first-child:before
{
    display: none;
}
.header__call
{
    float: right;

    width: 180px;
    padding: 7px 0 0;
}
.header__call-number
{
    font-size: 22px;

    margin-bottom: 15px;

    color: #1a1a1a;
}
.header__call-btn
{
    font-size: 13px;

    width: 180px;
    height: 38px;
    padding: 10px 0;

    text-transform: lowercase;
}
/* Меню */
.menu
{
    margin: 20px 0 0;
}
.menu__item
{
    font-size: 17px;

    position: relative;

    float: left;

    margin-left: 7px;
    padding-left: 17px;

    text-decoration: none;

    color: #fff;
}
.menu__item:before
{
    font-size: 21px;

    position: absolute;
    top: -2px;
    left: 0;

    display: inline-block;

    content: '•';

    color: #fff;
}
.menu__item:first-child
{
    margin-left: 0;
    padding-left: 0;
}
.menu__item:first-child:before
{
    display: none;
}
.menu__item.active,
.menu__item:hover
{
    color: #1a1a1a;
}
/* Текст на 3D-панели */
.top-panel
{
    width: 580px;
    margin: 50px auto 20px;
}
.top-panel__tech
{
    font-size: 15px;

    margin-bottom: 25px;

    color: #fff;
}
.top-panel__3d
{
    font-size: 45px;

    margin-right: 10px;

    text-transform: uppercase;

    color: #ff0;
}
.top-panel__design
{
    font-size: 45px;
    font-weight: bold;
    line-height: 1.1;

    color: #fff;
}
.top-panel__cost
{
    font-size: 15px;

    margin-top: 30px;
    margin-bottom: 100px;

    text-align: right;

    color: #fff;
}
.top-panel__cost-text
{
    margin-right: 108px;
}
.top-panel__cost-value
{
    font-size: 45px;
    font-weight: 700;
    line-height: 1;

    color: #ff0;
}
.top-panel__cost-value:after
{
    display: inline-block;

    width: 57px;
    height: 30px;
    margin-left: 5px;

    content: '';
    vertical-align: middle;

    background: url('../img/top-panel/archrock_yellow_rub_metr.png') 0 -19px no-repeat;
}
.top-panel__sale
{
    font-size: 38px;
    font-weight: 700;

    position: relative;

    color: #fff;
}
.top-panel__sale:before
{
    position: absolute;
    top: -50px;
    left: -15px;

    display: block;

    width: 125px;
    height: 73px;

    content: '';

    background: url('../img/top-panel/sale.png') 0 0 no-repeat;
}
.top-panel__sale-meters
{
    font-size: 30px;

    display: inline-block;

    width: 75px;
    height: 75px;
    padding: 10px 8px;

    color: #000;
    border-radius: 50%;
    background: #ff0;
}
.top-panel__sale-meters-square
{
    font-weight: normal;

    position: relative;
    top: -7px;
}
.top-panel__sale-meters-value
{
    font-size: 38px;
}
.top-panel__value
{
    font-size: 21px;

    padding-right: 30px;

    text-align: right;

    color: #fff;
}
.top-panel__value-meters
{
    margin-left: 125px;

    color: #666;
}
/* Форма в шапке */
.top-form
{
    margin: 10px 0 0;
}
.top-form__fields
{
    width: 564px;
    margin: 0 auto;
    padding: 14px 100px;

    background: #1a1a1a;
}
.top-form__input
{
    font-size: 14px;

    width: 177px;
    height: 33px;

    text-align: center;

    border: 1px solid #c1c1c1;
}
.top-form__submit
{
    font-size: 16px;

    display: block;

    width: 272px;
    height: 50px;
    margin: 19px auto 0;
}
/* Таймер */
.pre-timer
{
    font-size: 14px;

    width: 280px;
    margin: 15px auto 5px;

    color: #fff;
}
.timer
{
    width: 285px;
    margin: 0 auto;

    text-align: center;
}
.timer__item
{
    float: left;

    margin-left: 15px;
}
.timer__item:first-child
{
    margin-left: 0;
}
.timer__title
{
    font-size: 12px;

    margin-bottom: 3px;

    text-transform: lowercase;

    color: #4d4d4d;
}
.timer__value
{
    font-size: 47px;
    line-height: 1.2;

    width: 60px;
    height: 55px;

    color: #363636;
    background: url('../img/timer/bg.png') 2px 0 no-repeat;
}
/* Преимущества */
.benefits
{
    font-size: 0;
}
.benefits__item
{
    font-size: 16px;

    display: inline-block;

    width: 33%;
    margin-top: 40px;

    text-align: center;
    vertical-align: top;
}
.benefits__item_1 .benefits__icon
{
    width: 60px;
    height: 58px;

    background-position: -118px 0;
}
.benefits__item_2 .benefits__icon
{
    width: 61px;
    height: 58px;

    background-position: -178px 0;
}
.benefits__item_3 .benefits__icon
{
    width: 44px;
    height: 58px;

    background-position: -239px 0;
}
.benefits__item_4 .benefits__icon
{
    width: 45px;
    height: 56px;
    margin-top: 18px;

    background-position: -73px 0;
}
.benefits__item_5 .benefits__icon
{
    width: 73px;
    height: 75px;

    background-position: 0 0;
}
.benefits__item_6 .benefits__icon
{
    width: 46px;
    height: 57px;
    margin-top: 18px;

    background-position: 0 -75px;
}
.benefits__icon
{
    display: block;

    margin: 0 auto;

    background: url('../img/benefits/icons.png') no-repeat;
}
.benefits__title
{
    font-size: 23px;
    font-weight: 700;

    margin: 15px 0;

    color: #000;
}
.benefits__text
{
    font-size: 17px;

    color: #8e8e8e;
}
/* Услуги */
.services
{
    font-size: 0;

    width: 992px;
    margin: 45px auto 40px;
    padding: 16px 0;

    white-space: nowrap;

    background: #e7e7e7;
}
.services__item
{
    font-size: 22px;
    font-weight: 700;

    display: inline-block;

    width: 310px;
    height: 74px;
    margin-left: 20px;
    padding: 15px 0 0;

    text-align: center;
    white-space: normal;
    text-transform: uppercase;

    color: #1a1a1a;
    border: 9px solid #ff0;
    background: #fff;
}
.services__item:first-child
{
    margin-left: 17px;
}
.services__item:first-child + *
{
    width: 300px;
}
/* Продукты */
.products
{
    width: 960px;
    margin: 0 auto;
    padding: 0 0 35px;
}
.products__item
{
    height: 627px;
    margin-top: 35px;
}
.products__item:first-child
{
    margin-top: 0;
}
.products__photo
{
    float: left;

    width: 470px;
    margin: 0 10px 0 0;
}
.products__photo-link
{
    position: relative;

    display: block;

    text-decoration: none;
}
.products__photo-link img
{
    display: block;
}
.products__photo-link:after
{
    position: absolute;
    top: 50%;
    left: 50%;

    display: block;

    width: 38px;
    height: 38px;
    margin: -19px 0 0 -19px;

    content: '';

    background: url('../img/products/scope.png') 0 0 no-repeat;
}
.products__content
{
    position: relative;

    overflow: hidden;

    height: 100%;
}
.products__footer
{
    position: absolute;
    bottom: 0;
}
.products__title,
.products__thickness
{
    font-size: 19px;

    color: #4d4d4d;
}
.products__thickness
{
    padding-bottom: 50px;
}
.products__header
{
    font-size: 60px;
    font-weight: 700;
    line-height: 1.1;

    text-transform: uppercase;

    color: #000;
    border-bottom: 4px solid #e7e7e7;
}
.products__details
{
    padding: 50px 0 60px;
}
.products__details-left,
.products__details-right
{
    float: left;

    width: 50%;
}
.products__scheme
{
    margin-left: 20px;
}
.products__view
{
    padding-bottom: 20px;
}
.products__download
{
    float: right;

    text-align: center;
}
.products__download:before
{
    display: inline-block;

    width: 27px;
    height: 27px;

    content: '';

    background: url('../img/products/archrock_download.png') 0 0 no-repeat;
}
.products__download-link
{
    font-size: 14px;

    display: block;

    color: #662d86;
}
.products__cost
{
    font-size: 0;

    position: relative;

    width: 480px;
    padding: 10px 15px 10px 10px;

    white-space: nowrap;

    border-radius: 5px;
    background: #e7e7e7;
}
.products__cost_sale:before
{
    position: absolute;
    top: -50px;
    left: 65px;

    display: block;

    width: 125px;
    height: 73px;

    content: '';

    background: url('../img/top-panel/sale.png') 0 0 no-repeat;
}
.products__cost-left,
.products__cost-right
{
    font-size: 16px;

    display: inline-block;

    white-space: normal;
}
.products__cost-left
{
    width: 58%;

    vertical-align: top;
}
.products__cost-right
{
    width: 42%;

    vertical-align: bottom;
}
.products__name
{
    font-size: 23px;
    font-weight: 700;

    text-transform: uppercase;

    color: #000;
}
.products__old-value
{
    font-size: 42px;
    font-weight: 700;
    line-height: 1;

    position: relative;

    color: #808080;
}
.products__old-value:before
{
    position: absolute;
    top: 8px;
    left: -5px;

    width: 122px;
    height: 25px;

    content: '';

    background: url('../img/products/old-value.png') 0 0 no-repeat;
}
.products__old-value:after
{
    display: inline-block;

    width: 53px;
    height: 27px;

    content: '';

    background: url('../img/products/grey-rub.png') 0 0 no-repeat;
}
.products__new-value
{
    font-size: 60px;
    font-weight: 700;
    line-height: 1;

    color: #000;
}
.products__new-value:after
{
    display: inline-block;

    width: 78px;
    height: 41px;

    content: '';

    background: url('../img/products/archrock_black_rub.png') 0 0 no-repeat;
}
.products__btn
{
    display: block;

    width: 192px;
    height: 49px;
    margin: 0 auto;
    padding: 14px 0 0;
}
.products__or
{
    font-size: 14px;

    padding: 20px 0;

    text-align: center;

    color: #000;
}
.products__or:before,
.products__or:after
{
    display: inline-block;

    width: 20px;
    height: 1px;

    content: '';
    vertical-align: middle;

    background: #666;
}
.products__or:before
{
    margin-right: 8px;
}
.products__or:after
{
    margin-left: 8px;
}
.products__consult
{
    text-align: center;
    text-transform: uppercase;
}
.products__consult-link
{
    font-size: 14px;

    color: #662d86;
}
.products__countdown
{
    font-size: 14px;

    color: #808080;
}
/* Фиолетовый блок */
.violent
{
    padding: 30px 0;

    background: url('../img/violent/archrock-19.png') 0 0 repeat;
}
.violent .top-panel
{
    margin: 0 auto;
}
.violent .top-panel__value-meters,
.violent .timer__title
{
    color: #fff;
}
/* Интерьер */
.interior
{
    padding: 40px 0 50px;
}
.interior__photo-left,
.interior__form,
.interior__photo-right
{
    display: inline-block;

    vertical-align: top;
}
.interior__photo-left
{
    position: relative;
    top: -30px;

    margin-left: 5px;
}
.interior__form
{
    margin: 0 20px;
}
.interior__photo-right
{
    position: relative;
    top: -5px;

    vertical-align: bottom;
}
.interior__header
{
    font-size: 44px;
    line-height: 1;

    text-align: center;
    text-transform: uppercase;

    color: #000;
}
.interior__subheader
{
    font-size: 32px;
    line-height: 1;

    margin-bottom: 40px;

    text-align: center;
}
.interior__free
{
    font-size: 16px;

    margin-bottom: 35px;

    text-align: center;

    color: #333;
}
.interior__free-text
{
    position: relative;
}
.interior__free-text:before,
.interior__free-text:after
{
    display: inline-block;

    width: 24px;
    height: 1px;

    content: '';
    vertical-align: middle;

    background: #662d86;
}
.interior__free-text:before
{
    margin: 0 7px;
}
.interior__free-text:after
{
    margin: 0 8px;
}
.interior__photo-left
{
    display: inline-block;
}
.interior__form
{
    font-size: 14px;

    display: inline-block;

    width: 275px;
}
.interior__label
{
    display: block;

    width: 175px;
    margin-bottom: 10px;
}
.interior__file
{
    font-size: 16px;

    position: relative;

    display: block;

    width: 100%;
    height: 50px;
    padding: 10px 22px 0 0;

    cursor: pointer;
    text-align: right;
    text-transform: uppercase;

    color: #662d86;
    border: 2px dashed #c4c4c4;
    border-radius: 10px;
    background: #f4f4f4;
}
.interior__file:hover
{
    background: #ff0;
}
.interior__file-input
{
    visibility: hidden;

    height: 0;
}
.interior__cross
{
    position: relative;
    top: 3px;

    display: inline-block;

    width: 18px;
    height: 18px;
    margin-right: 15px;

    background: url('../img/interior/cross.png') 0 0 no-repeat;
}
.interior__submit
{
    font-size: 16px;

    display: block;

    width: 100%;
    height: 50px;
    margin-top: 15px;
}
/* Дизайн */
.design
{
    padding: 45px 0;

    background: #333;
}
.design__value
{
    font-size: 27px;

    float: right;

    padding: 5px 13px;

    color: #fff;
    border-radius: 20px;
    background: #1a1a1a;
}
.design__value b
{
    font-size: 60px;

    color: #ff0;
}
.design__value-rub
{
    display: inline-block;

    width: 78px;
    height: 41px;

    background: url('../img/design/archrock_white_rub.png') 0 0 no-repeat;
}
.design__header
{
    font-size: 44px;
    line-height: .9;

    color: #ff0;
}
.design__subheader
{
    font-size: 17px;

    margin-bottom: 50px;

    color: #fff;
}
.design__list
{
    font-size: 0;

    margin: 0 0 40px;

    white-space: nowrap;
}
.design__icon
{
    display: block;

    margin-bottom: 10px;

    background: url('../img/design/icons.png') no-repeat;
}
.design__text
{
    font-size: 21px;
    line-height: 1;

    color: #fff;
}
.design__item
{
    font-size: 16px;

    position: relative;

    display: inline-block;

    width: 25%;
    padding-left: 50px;

    vertical-align: top;
    white-space: normal;
}
.design__item:before
{
    position: absolute;
    top: 0;
    left: 25px;

    display: block;

    width: 1px;
    height: 94px;

    content: '';

    border-right: 1px solid #4d4d4d;
    background: #000;
}
.design__item:first-child
{
    padding-left: 0;
}
.design__item:first-child:before
{
    display: none;
}
.design__item_1
{
    width: 20%;
}
.design__item_1 .design__icon
{
    width: 17px;
    height: 20px;

    background-position: -21px 0;
}
.design__item_2
{
    width: 22%;
}
.design__item_2 .design__icon
{
    width: 21px;
    height: 16px;

    background-position: 0 0;
}
.design__item_3
{
    width: 28%;
}
.design__item_3 .design__icon
{
    width: 16px;
    height: 20px;

    background-position: -38px 0;
}
.design__item_4
{
    width: 30%;
}
.design__item_4 .design__icon
{
    width: 16px;
    height: 17px;

    background-position: -54px 0;
}
.design__request-header
{
    font-size: 21px;

    margin-bottom: 20px;

    color: #fff;
}
.design__slider
{
    position: relative;

    float: left;

    width: 554px;
    height: 309px;
}
.design__slider .slidesjs-navigation
{
    position: absolute;
    z-index: 999;
    top: 50%;

    display: block;
    overflow: hidden;

    width: 25px;
    height: 40px;
    margin-top: -20px;

    white-space: nowrap;
    text-indent: 100%;

    background: url('../img/slider/arrows.png') no-repeat;
}
.design__slider .slidesjs-navigation.slidesjs-previous
{
    left: 10px;

    background-position: 0 0;
}
.design__slider .slidesjs-navigation.slidesjs-next
{
    right: 10px;

    background-position: -25px 0;
}
.design__form
{
    float: left;

    width: 440px;
    height: 309px;
    padding: 20px 0 0;

    background: #1a1a1a;
}
.design__form-wrapper
{
    width: 200px;
    margin: 0 auto;
}
.design__form-header
{
    font-size: 24px;

    display: block;

    margin-bottom: 20px;

    text-align: center;
    text-transform: uppercase;

    color: #ff0;
}
.design__form-label
{
    display: block;

    width: 200px;
    margin: 0 auto 10px;
}
.design__submit
{
    width: 200px;
    height: 42px;
    margin: 25px auto 5px;
}
/* Монтаж */
.edit
{
    padding: 30px 0 20px;

    background: #e7e7e7;
}
.edit__main-header
{
    font-size: 20px;

    margin-bottom: 15px;

    text-align: center;

    color: #1a1a1a;
}
.edit__header-big
{
    font-size: 37px;
}
.edit__header
{
    font-size: 28px;
    font-weight: 700;

    margin-bottom: 15px;

    color: #1a1a1a;
}
.edit__title
{
    font-size: 17px;
    font-weight: 700;

    color: #662d86;
}
.edit__text
{
    font-size: 15px;

    margin-top: 10px;

    color: #1a1a1a;
}
.edit__item
{
    float: left;

    width: 33%;
    padding-right: 15px;
}
.edit__part
{
    margin-top: 20px;
}
.edit__part_half
{
    float: left;

    width: 50%;
    padding-right: 35px;
}
.edit__btn
{
    float: right;

    width: 272px;
    height: 49px;
    margin: 15px 0 0;
    padding: 13px 0 0;
}
/* Особые условия */
.special
{
    padding: 90px 0;

    border-bottom: 10px solid #e7e7e7;
}
.special__benefits
{
    float: right;

    padding: 10px 0 0;
}
.special__benefits-text
{
    font-size: 26px;

    color: #000;
}
.special__btn
{
    display: block;

    width: 272px;
    height: 49px;
    margin: 10px 0 0;
    padding: 12px 0 0;
}
.special__title
{
    font-size: 45px;
    line-height: 1.1;

    color: #1a1a1a;
}
/* Страница редиректа */
.thankyou
{
    position: absolute;
    top: 50%;
    left: 50%;

    width: 283px;
    margin: -130px 0 0 -141px;
}
.thankyou__btn
{
    display: block;

    width: 194px;
    height: 49px;
    margin: 20px auto 0;
    padding: 14px 0 0;
}
/* Ошибки */
.error
{
    font-size: 12px;

    display: block;

    text-align: center;

    color: #f00;
}
/* Основной контент */
/* Боковое меню */
/* Подвал */
.footer
{
    padding: 20px 0 35px;
}
.footer__logo
{
    float: left;

    width: 260px;
    margin: 15px 40px 0 0;
    padding: 84px 0 0;

    background: url('../img/header/logo.png') center top no-repeat;
}
.footer__towns
{
    font-size: 12px;

    text-align: center;

    color: #808080;
}
.footer__town
{
    margin-right: 3px;
}
.footer__town:before
{
    margin-right: 5px;

    content: '•';
}
.footer__town:first-child:before
{
    display: none;
}
.footer__call
{
    float: right;
}
.footer__call-number
{
    font-size: 22px;

    padding: 7px 0 10px;

    text-align: right;

    color: #1a1a1a;
}
.footer__call-btn
{
    font-size: 13px;

    display: block;

    width: 182px;
    height: 38px;
    padding: 10px 0 0;

    text-transform: lowercase;
}
.footer__email
{
    text-align: right;
}
.footer__email-link
{
    font-size: 18px;

    text-decoration: none;

    color: #8e8e8e;
}
.footer__recall
{
    font-size: 13px;

    margin-top: 5px;

    text-align: right;

    color: #808080;
}
.footer .menu
{
    float: left;

    margin-top: 35px;
}
.footer .menu__item
{
    color: #8e8e8e;
}
.footer .menu__item:before
{
    color: #8e8e8e;
}
.footer .menu__item:hover,
.footer .menu__item.active
{
    color: #1a1a1a;
}
/* Форма */
.form__label
{
    display: block;

    width: 100%;
    margin-bottom: 15px;
}
.input
{
    font-size: 14px;

    display: block;

    width: 100%;
    height: 33px;
    padding: 0 15px;

    color: #8e8e8e;
    border: 1px solid #c1c1c1;
}
.textarea
{
    display: block;

    width: 100%;
    padding: 10px 15px;

    resize: vertical;

    border: 1px solid #c1c1c1;
}
/* Сетка */
.grid
{
    display: block;
}
/* Строка сетки */
.row
{
    margin-bottom: 15px;
}
/* Колонка сетки */
[class*='column_xs-']
{
    float: left;
}
.column
{
    position: relative;

    min-height: 1px;
    padding-right: 10px;
    padding-left: 10px;
}
.column_xs-1
{
    width: 8.333333333333334%;
}
.column_xs-2
{
    width: 16.666666666666668%;
}
.column_xs-3
{
    width: 25%;
}
.column_xs-4
{
    width: 33.333333333333336%;
}
.column_xs-5
{
    width: 41.66666666666667%;
}
.column_xs-6
{
    width: 50%;
}
.column_xs-7
{
    width: 58.333333333333336%;
}
.column_xs-8
{
    width: 66.66666666666667%;
}
.column_xs-9
{
    width: 75%;
}
.column_xs-10
{
    width: 83.33333333333334%;
}
.column_xs-11
{
    width: 91.66666666666667%;
}
.column_xs-12
{
    width: 100%;
}
.column__offset_xs-1
{
    margin-left: 8.333333333333334%;
}
.column__offset_xs-2
{
    margin-left: 16.666666666666668%;
}
.column__offset_xs-3
{
    margin-left: 25%;
}
.column__offset_xs-4
{
    margin-left: 33.333333333333336%;
}
.column__offset_xs-5
{
    margin-left: 41.66666666666667%;
}
.column__offset_xs-6
{
    margin-left: 50%;
}
.column__offset_xs-7
{
    margin-left: 58.333333333333336%;
}
.column__offset_xs-8
{
    margin-left: 66.66666666666667%;
}
.column__offset_xs-9
{
    margin-left: 75%;
}
.column__offset_xs-10
{
    margin-left: 83.33333333333334%;
}
.column__offset_xs-11
{
    margin-left: 91.66666666666667%;
}
.column__offset_xs-12
{
    margin-left: 100%;
}
/* Всплывающие окна */
.popup__item
{
    display: none;

    width: 388px;
    padding-bottom: 45px;

    border: 14px solid #ff0;
    background: #fff;
}
.popup__content
{
    position: relative;
}
.popup__close
{
    display: block;
    float: right;

    width: 28px;
    height: 28px;
    margin: 15px 15px 0 0;

    cursor: pointer;

    background: url('../img/popup/close.png') 0 0 no-repeat;
}
.popup__close:hover
{
    background-position: 0 -28px;
}
.popup__title
{
    font-size: 23px;
    font-weight: 700;
    line-height: 1.1;

    width: 210px;
    margin: 0 auto;
    margin-bottom: 25px;
    padding-top: 60px;

    text-transform: uppercase;

    color: #000;
}
.popup__form
{
    width: 205px;
    margin: 0 auto;
}
.popup__label
{
    display: block;

    margin-bottom: 10px;
}
.popup__submit
{
    display: block;

    width: 100%;
    height: 49px;
    margin: 35px 0 20px;
}
.popup__info
{
    font-size: 13px;

    width: 210px;
    margin: 0 auto;

    text-align: center;

    color: #808080;
}
.popup__info_left
{
    text-align: left;
}
.fancybox-close
{
    top: 30px;
    right: 30px;

    display: block;

    width: 28px;
    height: 28px;

    cursor: pointer;

    background-image: url('../img/popup/close.png');
}
.fancybox-close:hover
{
    background-position: 0 -28px;
}
/* Responsive */
@media (min-width: 768px)
{
    [class*='column_sm-']
    {
        float: left;
    }
    .column_sm-1
    {
        width: 8.333333333333334%;
    }
    .column_sm-2
    {
        width: 16.666666666666668%;
    }
    .column_sm-3
    {
        width: 25%;
    }
    .column_sm-4
    {
        width: 33.333333333333336%;
    }
    .column_sm-5
    {
        width: 41.66666666666667%;
    }
    .column_sm-6
    {
        width: 50%;
    }
    .column_sm-7
    {
        width: 58.333333333333336%;
    }
    .column_sm-8
    {
        width: 66.66666666666667%;
    }
    .column_sm-9
    {
        width: 75%;
    }
    .column_sm-10
    {
        width: 83.33333333333334%;
    }
    .column_sm-11
    {
        width: 91.66666666666667%;
    }
    .column_sm-12
    {
        width: 100%;
    }
    .column__offset_sm-1
    {
        margin-left: 8.333333333333334%;
    }
    .column__offset_sm-2
    {
        margin-left: 16.666666666666668%;
    }
    .column__offset_sm-3
    {
        margin-left: 25%;
    }
    .column__offset_sm-4
    {
        margin-left: 33.333333333333336%;
    }
    .column__offset_sm-5
    {
        margin-left: 41.66666666666667%;
    }
    .column__offset_sm-6
    {
        margin-left: 50%;
    }
    .column__offset_sm-7
    {
        margin-left: 58.333333333333336%;
    }
    .column__offset_sm-8
    {
        margin-left: 66.66666666666667%;
    }
    .column__offset_sm-9
    {
        margin-left: 75%;
    }
    .column__offset_sm-10
    {
        margin-left: 83.33333333333334%;
    }
    .column__offset_sm-11
    {
        margin-left: 91.66666666666667%;
    }
    .column__offset_sm-12
    {
        margin-left: 100%;
    }
}
@media (min-width: 992px)
{
    [class*='column_md-']
    {
        float: left;
    }
    .column_md-1
    {
        width: 8.333333333333334%;
    }
    .column_md-2
    {
        width: 16.666666666666668%;
    }
    .column_md-3
    {
        width: 25%;
    }
    .column_md-4
    {
        width: 33.333333333333336%;
    }
    .column_md-5
    {
        width: 41.66666666666667%;
    }
    .column_md-6
    {
        width: 50%;
    }
    .column_md-7
    {
        width: 58.333333333333336%;
    }
    .column_md-8
    {
        width: 66.66666666666667%;
    }
    .column_md-9
    {
        width: 75%;
    }
    .column_md-10
    {
        width: 83.33333333333334%;
    }
    .column_md-11
    {
        width: 91.66666666666667%;
    }
    .column_md-12
    {
        width: 100%;
    }
    .column__offset_md-1
    {
        margin-left: 8.333333333333334%;
    }
    .column__offset_md-2
    {
        margin-left: 16.666666666666668%;
    }
    .column__offset_md-3
    {
        margin-left: 25%;
    }
    .column__offset_md-4
    {
        margin-left: 33.333333333333336%;
    }
    .column__offset_md-5
    {
        margin-left: 41.66666666666667%;
    }
    .column__offset_md-6
    {
        margin-left: 50%;
    }
    .column__offset_md-7
    {
        margin-left: 58.333333333333336%;
    }
    .column__offset_md-8
    {
        margin-left: 66.66666666666667%;
    }
    .column__offset_md-9
    {
        margin-left: 75%;
    }
    .column__offset_md-10
    {
        margin-left: 83.33333333333334%;
    }
    .column__offset_md-11
    {
        margin-left: 91.66666666666667%;
    }
    .column__offset_md-12
    {
        margin-left: 100%;
    }
}
@media (min-width: 1170px)
{
    [class*='column_lg-']
    {
        float: left;
    }
    .column_lg-1
    {
        width: 8.333333333333334%;
    }
    .column_lg-2
    {
        width: 16.666666666666668%;
    }
    .column_lg-3
    {
        width: 25%;
    }
    .column_lg-4
    {
        width: 33.333333333333336%;
    }
    .column_lg-5
    {
        width: 41.66666666666667%;
    }
    .column_lg-6
    {
        width: 50%;
    }
    .column_lg-7
    {
        width: 58.333333333333336%;
    }
    .column_lg-8
    {
        width: 66.66666666666667%;
    }
    .column_lg-9
    {
        width: 75%;
    }
    .column_lg-10
    {
        width: 83.33333333333334%;
    }
    .column_lg-11
    {
        width: 91.66666666666667%;
    }
    .column_lg-12
    {
        width: 100%;
    }
    .column__offset_lg-1
    {
        margin-left: 8.333333333333334%;
    }
    .column__offset_lg-2
    {
        margin-left: 16.666666666666668%;
    }
    .column__offset_lg-3
    {
        margin-left: 25%;
    }
    .column__offset_lg-4
    {
        margin-left: 33.333333333333336%;
    }
    .column__offset_lg-5
    {
        margin-left: 41.66666666666667%;
    }
    .column__offset_lg-6
    {
        margin-left: 50%;
    }
    .column__offset_lg-7
    {
        margin-left: 58.333333333333336%;
    }
    .column__offset_lg-8
    {
        margin-left: 66.66666666666667%;
    }
    .column__offset_lg-9
    {
        margin-left: 75%;
    }
    .column__offset_lg-10
    {
        margin-left: 83.33333333333334%;
    }
    .column__offset_lg-11
    {
        margin-left: 91.66666666666667%;
    }
    .column__offset_lg-12
    {
        margin-left: 100%;
    }
}
